<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lancel Investment Ltd</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/nouislider/nouislider.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/assets/admin/assets/table/css/style.css}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script></head>

<body>

<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="../../index.html">
                    <img src="../../images/logo.svg" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="../../index.html">
                    <img src="../../images/logo-mini.svg" alt="logo" />
                </a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">John Doe</span></h1>
                </li>
            </ul>

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:../../partials/_sidebar.html -->
        <div data-th-include="admin/sidebar.html"></div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">

                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">

                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Blog</h4>
                                <p class="card-description">
                                    Blog Details
                                </p>
                                <div class="forms-sample">
                                    <div class="form-group">
                                        <label for="blogName">Blog Name</label>
                                        <input type="text" class="form-control" id="blogName" placeholder="Blog Name">
                                    </div>

                                    <div class="col-6 mt-3 row">
                                        <label for="image">Featured Image</label>
                                        <input type="file" id="image" name="image" class="file-upload-default" accept="image/*">
                                    </div>

                                    <div class="form-group">
                                        <label for="editor">Blog Details</label>
                                        <textarea cols="80" id="editor" name="editor" rows="10"></textarea>

                                    </div>


                                    <div id="actionButtons">
                                        <button onclick="uploadBlog()" class="btn btn-primary me-2">Submit</button>
                                        <button class="btn btn-light">Cancel</button>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> <a href="https://www.centafrique.com/" target="_blank">Lancel admin dashboard</a> from Centafrique.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script>

    CKEDITOR.replace('editor', {
        fullPage: true,
        extraPlugins: 'docprops',
        // Disable content filtering because if you use full page mode, you probably
        // want to  freely enter any HTML content in source mode without any limitations.
        allowedContent: true,
        height: 320,
        removeButtons: 'PasteFromWord'
    });

    function uploadBlog(){

        let blog = CKEDITOR.instances['editor'].getData().toString();
        let file = $('#image')[0].files[0]
        let blogName = document.getElementById("blogName").value;

        let accessToken = window.localStorage.getItem('accessToken');


        if (blog && file && blogName){


            let formData = new FormData()
            formData.append('blog', blog);
            formData.append('file', file);
            formData.append('blogName', blogName);

            $.ajax({
                method: 'POST',
                url: "/api/v1/blogs/add-blog",
                enctype: 'multipart/form-data',
                data: formData,
                headers: {
                    'Authorization':'Bearer '+accessToken},
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                // contentType: "application/json",
                // dataType: 'json',
                success: function(response) {

                    alert("Successfully Saved the blog.")

                    // new swal(
                    //     'Product images saved successfully',
                    //     'Images saved successfully.',
                    //     'success'
                    // )



                }, error: function (error) {
                    alert('error: ' + error);
                    console.log("-*-*-* "+ error)

                    // let json = $.parseJSON(error.responseText);
                    // let details = json.error
                    //
                    // new swal({
                    //     icon: 'error',
                    //     title: 'Oops...',
                    //     text: details,
                    // })
                }

            })


        }else {

            alert("Make sure you have a featured image, a blog name and blog details");

        }

    }

</script>

</body>
</html>