<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/assets/admin/assets/demo/demo.css}" rel="stylesheet" />

</head>
<body>

<div style="height: 70px" data-th-include="/admin/admin_header.html"></div>

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">

            <h4 class="card-title">Product Stats</h4>

            <a href="/admin/add-product">Add Products</a>

        </div>

        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead>
                <th>ID</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr each="property : ${propertyList}">
                    <td>1</td>
                    <td text="${property.getPropertyName()}">Honey</td>
                    <td text="${property.getPropertyRent()}">Some Descr</td>

                    <td>
                        <button type="submit" class="btn btn-primary"
                                data-toggle="modal"
                                attr="onclick=|viewModel('${property.getId()}')|">
                            View
                        </button>
                        <!--                    <button type="submit" class="btn btn-primary"-->
                        <!--                            data-toggle="modal"-->
                        <!--                            th:attr="onclick=|viewEditModel('${property.getId()}')|">-->
                        <!--                      Edit-->
                        <!--                    </button>-->
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


</body>



</html>