<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="dashboard">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="add-product">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Add Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-products">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">View Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-orders">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">View Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-users">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">View Users</span>
            </a>
        </li>

    </ul>
</nav>

</body>
</html>