<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lancel Investment Ltd</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/loader/loaders.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome/font-awesome.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/aos/aos.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/swiper/swiper.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/lightgallery.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}" />

</head>

<body>

<!-- Loader Start -->
<!--<div class="css-loader">-->
<!--  <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>-->
<!--</div>-->
<!-- Loader End -->
<div data-th-include="header.html"></div>


<div>
  <img style="min-height: 500px" class="img-fluid" src="assets/blog/assets/img/hero/about_hero.png" alt="Post 1">
</div>


<!-- Services Start -->
<section class="services" >
  <div class="container">
    <div class="title text-center">
      <h1 class="title-blue">Our Services</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
            <img class="mr-4" src="assets/images/service1.png" alt="Web Development">
            <div class="media-body">
              <h5>Apiary Installation.</h5>
              We provide apiary installation and advisory on site selection and apiary set-up for maximum honey production and quality.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
            <img class="mr-4" src="assets/images/service2.png" alt="Web Development">
            <div class="media-body">
              <h5>Apiary management</h5>
              Apiary management is a critical factor for health and survival of honey bee colonies.
              We provide the management services to ensure apiaries provide maximum returns and are sustainable to the owner.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
            <img class="mr-4" src="assets/images/service3.png" alt="Web Development">
            <div class="media-body">
              <h5>Training on beekeeping</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
            <img class="mr-4" src="assets/images/service4.png" alt="Web Development">
            <div class="media-body">
              <h5>Honey packaging and processing</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
            <img class="mr-4" src="assets/images/service1.png" alt="Web Development">
            <div class="media-body">
              <h5>Honey sales</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Services End -->

<!-- Call To Action 2 Start -->
<section class="cta cta2" data-aos="fade-up" data-aos-delay="0">
  <div class="container">
    <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
      <div class="content" data-aos="fade-right" data-aos-delay="200">
        <h2>Check out our Products</h2>
        <p>Have a sneak peak at our shop.</p>
      </div>
      <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
        <a href="/shop" class="btn btn-primary">View Shop</a>
      </div>
    </div>
  </div>
</section>
<!-- Call To Action 2 End -->

<div data-th-include="footer.html"></div>



</body>

</html>

